

@import url("plugins/bootstrap.min.css");

@import url("plugins/owl.carousel.min.css");
@import url("plugins/owl.theme.default.min.css");

@import url("plugins/animate.min.css");

@import url("plugins/themify-icons.css");
@import url("plugins/flaticon.css");

@import url("plugins/magnific-popup.css");


@import url("plugins/select2.css");
@import url("plugins/datepicker.css");